* {
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-color: #87CEFA;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.all-container {
  width: 44vw;
  /*margin: 0 auto;*/
  padding: 4vw;
  /*border-radius: 10%;*/
  border: 1vw solid grey;
  background-color: white;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: row;
}

.cards {
  border: 1vw solid gray;
  padding: 0px;
  /*margin: 4vw;*/
  background-color: #87CEFA;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  width: 36vw;
  height: 30vw;
}

.map {
  position:absolute;
  top:0;
  bottom:0;
  width:30vw;
  height: 30vw;
  border: 0.5vw solid grey;
}

.topHeader {
  display: flex;
  justify-content: center;
}

.subHeader {
  display: flex;
  justify-content: center;
}

.inputs {
  display: flex;
  justify-content: center;
  /*flex-direction: column;*/
}

.items {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.boxes {
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  width: 20vw;
}
